.container {
    padding: 0 30px;
    margin: auto;
}

.title {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.category {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.category_box {
    overflow: hidden;
}

.category_img {
    overflow: hidden;
}

.category_box img {
    width: 100%;
    border-radius: 20px;
}

.category_name {
    position: relative;
    bottom: 80px;
    display: flex;
}

.category_name span {
    padding: 10px 40px;
    margin: 0 auto;
    color: white;
    background-color: #00368e;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    line-height: 1.5;
}

.category_box img:hover {
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.category_box:hover .category_name span {
    background-color: blue;
    transition: all 0.2s ease;
}

.boder {
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    .category {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .category_name span {
        padding: 7px 20px;
    }
}

@media (max-width: 480px) {
    .category {
        grid-template-columns: repeat(1, 1fr);
    }
}