.contact{
    display: flex;
    justify-content: space-between;
    .left{
        margin-left: 1000px;
    }
    .top-left h4{
        font-size: 400px;
        font-weight: bold;
    }
    // .right{
    //     margin-left: 300px;
    //     padding-top: 20px;
    // }
}
/* .head-top{
    display: flex;
    padding: 5px 0 5px 0;   
}
.cens{
    padding: 0 3px 0 3px;
} */

