.container {
    padding: 0;
    margin: auto;
    width: 95%;
}


/* product */

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 20px;
}

.title {
    margin-top: 180px;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.item {
    width: 100%;
    overflow: hidden;
}

.item_image {
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    width: auto;
}

.item_image img {
    height: 465px;
    width: 100%;
}

.tranf:hover .item_image {
    opacity: 0.8;
    transition: all 1s ease-in-out;
}

.item_info {
    margin-top: 10px;
    line-height: 25px;
    margin-bottom: 10px;
}

.item_info_name {
    font-family: ATSurtVN;
    font-size: 18px;
    padding: 5px 0;
    font-weight: 500;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* // width: 100%;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    cursor: pointer; */
}

.item_info_price {
    font-size: 16px;
    font-weight: 500;
}

.currency_symbol {
    padding: 1px;
    font-size: 13px;
    color: red;
    vertical-align: baseline;
}

.item_size_name {
    margin-top: 10px;
}

.name_size {
    font-size: 12px;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    word-break: break-word;
    white-space: nowrap;
    /* // overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    cursor: pointer; */
}

.item_size {
    min-width: auto;
    height: 120px;
    position: absolute;
    overflow: hidden;
    margin-right: 0;
    transform: translatey(0px);
    display: none;
}

.tranf:hover .item_size {
    transform: translateY(-80px);
    transition: all 1s 0.2s ease-out;
    -moz-transition: all 1s 0.2s ease-out;
    -webkit-transition: all 1s 0.2s ease-out;
    display: block;
}

.add_card {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    margin-left: 35px;
    margin-right: auto;
    color: white;
    outline: none;
    border: none;
}

.add_card:hover {
    background-color: red;
}

.like {
    margin-top: 60px;
}

@media (min-width: 1200px) {
    .add_card {
        width: 250px;
        height: 45px;
        border-radius: 20px;
        background-color: black;
        font-size: 16px;
        font-weight: 500;
        margin-left: 60px;
        margin-right: auto;
        color: white;
        outline: none;
        border: none;
    }
}

@media (max-width: 980px) {
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        margin-top: 40px;
    }
    .title {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        margin-top: 180px;
    }
    .item_image img {
        height: 287px;
        width: 100%;
    }
    .tranf:hover .item_size {
        transform: translateY(-60px);
    }
    .add_card {
        width: 180px;
        height: 40px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 500;
        margin-left: 30px;
        margin-right: auto;
        color: white;
        outline: none;
        border: none;
    }
}

@media (max-width: 570px) {
    .container {
        padding: 0;
        margin: auto;
        width: 100%;
    }
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        margin-top: 40px;
    }
    .title {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        margin-top: 80px;
    }
    .item_image {
        margin-top: 5px;
        width: auto;
    }
    .item_image img {
        height: 314px;
        width: 100%;
    }
}